streamlit>=1.35.0
requests>=2.31.0
yfinance>=0.2.40
pandas>=2.0.0,<3.0.0
lxml>=5.0.0
plotly>=5.22.0
beautifulsoup4>=4.11.1
frozendict>=2.3.4
curl_cffi>=0.7,<0.14
cachetools>=5.5,<7
typing_extensions>=4.0.0
tenacity>=8.1.0
tornado<7,>=6.0.3
protobuf>=3.20.0
watchdog>=2.1.5
peewee>=3.16.2
platformdirs>=2.0.0
websockets>=13.0
